body {
  background-color: #CD5C5C;
  text-align: center;
}

h1 { 
   font-family: 'CyproMinoanRegular'; 
   font-weight: normal; 
   font-style: normal; 
  text-align: center;
  color: white;
}

p, input { 
   font-family: 'BebasNeueBold'; 
   font-weight: normal; 
   font-style: normal; 
    text-align: center;
    color: white;
}

input[type=checkbox] {
    
    color: white;
}
button
{
  width: 150px;
 background-color: #778899;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  font-family: 'BebasNeueBold';
}

img {
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
}

